::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: lightgray;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

.navBar {
  background: white;
  border: #333;
}

.navBar .mobileNav {
  display: none;
}

.navBar .menu-btn {
  display: none;
}

.navBar .navBar__Title {
  text-align: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navBar .navBar__Buttons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0;
}

.navBar .navBar__Buttons .navBar__Buttons1 {
  background: -webkit-gradient(linear, left top, right top, color-stop(9%, #dae80e), color-stop(96%, #5ba10c));
  background: linear-gradient(90deg, #dae80e 9%, #5ba10c 96%);
}

.navBar .navBar__Buttons .navBar__Buttons1 {
  margin: 10px;
  padding: 1px 5px 1px 5px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
  -webkit-box-shadow: 3.1px 6.25px 12.5px #0000004f;
          box-shadow: 3.1px 6.25px 12.5px #0000004f;
  border-radius: 5px;
  display: block;
}

.navBar .navBar__Buttons .navBar__Buttons1 p {
  margin-top: 4px;
  margin-bottom: 2px;
}

.navBar .navBar__Buttons .navBar__Buttons1:hover {
  background-position: right center;
  color: black;
  text-decoration: none;
  -webkit-box-shadow: 6.2px 12.5px 12.5px #0000004f;
          box-shadow: 6.2px 12.5px 12.5px #0000004f;
}

.navBar .navBar__Buttons a {
  text-decoration: none;
  color: black;
}

.navBar .navBar__Buttons a:visited {
  color: black;
}

.index {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  gap: 4rem;
}

.index .logo {
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: -20%;
  background-repeat: no-repeat;
  background-image: url(../images/Graupera-Home-07.jpg);
  background-size: 100%;
}

.index .logo img {
  margin: 7% auto 20% auto;
  width: 60%;
  padding: 20px 30px 20px 30px;
  display: block;
  background-color: rgba(156, 152, 148, 0.753);
  border-radius: 20px;
}

.index .mainArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6rem;
  -ms-flex-line-pack: center;
      align-content: center;
}

.index .mainArticle .mainArticle__Bloque1, .index .mainArticle .mainArticle__Bloque2 {
  background: radial-gradient(circle, #b3be13 0%, #5ba10c 100%);
  -webkit-box-shadow: 6.2px 12.5px 12.5px #0000004f;
          box-shadow: 6.2px 12.5px 12.5px #0000004f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}

.index .mainArticle .mainArticle__Bloque1 .mainArticle__Div, .index .mainArticle .mainArticle__Bloque2 .mainArticle__Div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.index .mainArticle .mainArticle__Bloque1 .mainArticle__Div .mainArticle__Titulo1, .index .mainArticle .mainArticle__Bloque1 .mainArticle__Div .mainArticle__Titulo2, .index .mainArticle .mainArticle__Bloque2 .mainArticle__Div .mainArticle__Titulo1, .index .mainArticle .mainArticle__Bloque2 .mainArticle__Div .mainArticle__Titulo2 {
  font-size: 1.5rem;
  border-radius: 10px;
  text-align: left;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20%;
  margin-left: 0;
}

.index .mainArticle .mainArticle__Bloque1 .mainArticle__Div .mainArticle__Texto1, .index .mainArticle .mainArticle__Bloque1 .mainArticle__Div .mainArticle__Texto2, .index .mainArticle .mainArticle__Bloque2 .mainArticle__Div .mainArticle__Texto1, .index .mainArticle .mainArticle__Bloque2 .mainArticle__Div .mainArticle__Texto2 {
  font-size: 1.3rem;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 5px;
}

.index .mainArticle .mainArticle__Bloque1 .mainArticle__Div .mainArticle__Texto1 p, .index .mainArticle .mainArticle__Bloque1 .mainArticle__Div .mainArticle__Texto2 p, .index .mainArticle .mainArticle__Bloque2 .mainArticle__Div .mainArticle__Texto1 p, .index .mainArticle .mainArticle__Bloque2 .mainArticle__Div .mainArticle__Texto2 p {
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

.index .clients {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  gap: 4rem;
  padding-bottom: 60px;
  margin-bottom: 10px;
}

.index .clients .clients__Title {
  margin: 0px;
  text-align: center;
}

.index .clients .clients__Imgs {
  background: radial-gradient(circle, #dae80e 0%, #c7b72a 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20px;
  height: 300px;
  gap: 1rem;
  background-color: transparent;
  -webkit-box-shadow: 6.2px 12.5px 12.5px #0000004f;
          box-shadow: 6.2px 12.5px 12.5px #0000004f;
}

.index .clients .clients__Imgs img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 20%;
  height: auto;
  -webkit-box-shadow: 4.0px 8.0px 8.0px #00000061;
          box-shadow: 4.0px 8.0px 8.0px #00000061;
  background-color: white;
  border-radius: 10px;
}

.index .clients .clients__Comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 30px 20px 30px;
}

.index .clients .clients__Comments .clients__Comment1, .index .clients .clients__Comments .clients__Comment2 {
  background: radial-gradient(circle, #dae80e 0%, #c7b72a 100%);
  -webkit-box-shadow: 6.2px 12.5px 12.5px #0000004f;
          box-shadow: 6.2px 12.5px 12.5px #0000004f;
  border-radius: 20px;
  padding: 30px 30px 30px 30px;
}

.index .clients .clients__Comments .clients__Comment1 .clients__Cite1, .index .clients .clients__Comments .clients__Comment1 .clients__Name1, .index .clients .clients__Comments .clients__Comment1 .clients__Name2, .index .clients .clients__Comments .clients__Comment1 .clients__Cite2, .index .clients .clients__Comments .clients__Comment2 .clients__Cite1, .index .clients .clients__Comments .clients__Comment2 .clients__Name1, .index .clients .clients__Comments .clients__Comment2 .clients__Name2, .index .clients .clients__Comments .clients__Comment2 .clients__Cite2 {
  font-family: 'Merriweather', serif;
  font-size: 1rem;
}

.index .clients .clients__Comments .clients__Comment1 .clients__Name1, .index .clients .clients__Comments .clients__Comment1 .clients__Name2, .index .clients .clients__Comments .clients__Comment2 .clients__Name1, .index .clients .clients__Comments .clients__Comment2 .clients__Name2 {
  font-weight: bold;
}

.trabajo {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
  gap: 6rem;
  margin-top: 5%;
  margin-bottom: 10%;
}

.trabajo .trabajoTitle, .trabajo .equipo .equipoTitle, .equipo .trabajo .equipoTitle, .trabajo .areas .areasTitle, .areas .trabajo .areasTitle, .trabajo .contacto .contactoTitle, .contacto .trabajo .contactoTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

.trabajo .steps, .trabajo .stepsMob {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trabajo .steps a, .trabajo .stepsMob a {
  color: black;
  text-decoration: none;
}

.trabajo .steps a:visited, .trabajo .stepsMob a:visited {
  color: black;
}

.trabajo .steps .steps__Step1, .trabajo .stepsMob .steps__Step1, .trabajo .steps .steps__Step2, .trabajo .stepsMob .steps__Step2, .trabajo .steps .steps__Step3, .trabajo .stepsMob .steps__Step3 {
  background-image: -webkit-gradient(linear, left top, right top, from(#ccd71b), to(#739300));
  background-image: linear-gradient(90deg, #ccd71b 0%, #739300 100%);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 6.2px 12.5px 12.5px #0000004f;
          box-shadow: 6.2px 12.5px 12.5px #0000004f;
  padding: 15%;
}

.trabajo .steps .steps__Step1 .steps__Img1, .trabajo .stepsMob .steps__Step1 .steps__Img1, .trabajo .steps .steps__Step1 .steps__Img2, .trabajo .stepsMob .steps__Step1 .steps__Img2, .trabajo .steps .steps__Step1 .steps__Img3, .trabajo .stepsMob .steps__Step1 .steps__Img3, .trabajo .steps .steps__Step2 .steps__Img1, .trabajo .stepsMob .steps__Step2 .steps__Img1, .trabajo .steps .steps__Step2 .steps__Img2, .trabajo .stepsMob .steps__Step2 .steps__Img2, .trabajo .steps .steps__Step2 .steps__Img3, .trabajo .stepsMob .steps__Step2 .steps__Img3, .trabajo .steps .steps__Step3 .steps__Img1, .trabajo .stepsMob .steps__Step3 .steps__Img1, .trabajo .steps .steps__Step3 .steps__Img2, .trabajo .stepsMob .steps__Step3 .steps__Img2, .trabajo .steps .steps__Step3 .steps__Img3, .trabajo .stepsMob .steps__Step3 .steps__Img3 {
  width: 40%;
  height: auto;
  margin-right: auto;
}

.trabajo .steps .steps__Step1 .steps__Title1, .trabajo .stepsMob .steps__Step1 .steps__Title1, .trabajo .steps .steps__Step1 .steps__Title2, .trabajo .stepsMob .steps__Step1 .steps__Title2, .trabajo .steps .steps__Step1 .steps__Title3, .trabajo .stepsMob .steps__Step1 .steps__Title3, .trabajo .steps .steps__Step2 .steps__Title1, .trabajo .stepsMob .steps__Step2 .steps__Title1, .trabajo .steps .steps__Step2 .steps__Title2, .trabajo .stepsMob .steps__Step2 .steps__Title2, .trabajo .steps .steps__Step2 .steps__Title3, .trabajo .stepsMob .steps__Step2 .steps__Title3, .trabajo .steps .steps__Step3 .steps__Title1, .trabajo .stepsMob .steps__Step3 .steps__Title1, .trabajo .steps .steps__Step3 .steps__Title2, .trabajo .stepsMob .steps__Step3 .steps__Title2, .trabajo .steps .steps__Step3 .steps__Title3, .trabajo .stepsMob .steps__Step3 .steps__Title3 {
  font-size: 1.5rem;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

.trabajo .stepsMob {
  display: none;
}

.trabajo .step1, .trabajo .step2, .trabajo .step3 {
  background: radial-gradient(circle, #b3be13 0%, #5ba10c 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 6.2px 12.5px 12.5px #0000004f;
          box-shadow: 6.2px 12.5px 12.5px #0000004f;
  padding: 5%;
}

.trabajo .step1 .step1__Div, .trabajo .step1 .step2__Div, .trabajo .step1 .step3__Div, .trabajo .step2 .step1__Div, .trabajo .step2 .step2__Div, .trabajo .step2 .step3__Div, .trabajo .step3 .step1__Div, .trabajo .step3 .step2__Div, .trabajo .step3 .step3__Div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 15px;
  overflow-y: auto;
}

.trabajo .step1 .step1__Div .step1__Title, .trabajo .step1 .step1__Div .step2__Title, .trabajo .step1 .step1__Div .step3__Title, .trabajo .step1 .step2__Div .step1__Title, .trabajo .step1 .step2__Div .step2__Title, .trabajo .step1 .step2__Div .step3__Title, .trabajo .step1 .step3__Div .step1__Title, .trabajo .step1 .step3__Div .step2__Title, .trabajo .step1 .step3__Div .step3__Title, .trabajo .step2 .step1__Div .step1__Title, .trabajo .step2 .step1__Div .step2__Title, .trabajo .step2 .step1__Div .step3__Title, .trabajo .step2 .step2__Div .step1__Title, .trabajo .step2 .step2__Div .step2__Title, .trabajo .step2 .step2__Div .step3__Title, .trabajo .step2 .step3__Div .step1__Title, .trabajo .step2 .step3__Div .step2__Title, .trabajo .step2 .step3__Div .step3__Title, .trabajo .step3 .step1__Div .step1__Title, .trabajo .step3 .step1__Div .step2__Title, .trabajo .step3 .step1__Div .step3__Title, .trabajo .step3 .step2__Div .step1__Title, .trabajo .step3 .step2__Div .step2__Title, .trabajo .step3 .step2__Div .step3__Title, .trabajo .step3 .step3__Div .step1__Title, .trabajo .step3 .step3__Div .step2__Title, .trabajo .step3 .step3__Div .step3__Title {
  font-size: 1.3rem;
  text-align: center;
  margin: 10px;
}

.trabajo .step1 .step1__Div .step1__SubTitle, .trabajo .step1 .step1__Div .step2__SubTitle, .trabajo .step1 .step1__Div .step3__SubTitle, .trabajo .step1 .step2__Div .step1__SubTitle, .trabajo .step1 .step2__Div .step2__SubTitle, .trabajo .step1 .step2__Div .step3__SubTitle, .trabajo .step1 .step3__Div .step1__SubTitle, .trabajo .step1 .step3__Div .step2__SubTitle, .trabajo .step1 .step3__Div .step3__SubTitle, .trabajo .step2 .step1__Div .step1__SubTitle, .trabajo .step2 .step1__Div .step2__SubTitle, .trabajo .step2 .step1__Div .step3__SubTitle, .trabajo .step2 .step2__Div .step1__SubTitle, .trabajo .step2 .step2__Div .step2__SubTitle, .trabajo .step2 .step2__Div .step3__SubTitle, .trabajo .step2 .step3__Div .step1__SubTitle, .trabajo .step2 .step3__Div .step2__SubTitle, .trabajo .step2 .step3__Div .step3__SubTitle, .trabajo .step3 .step1__Div .step1__SubTitle, .trabajo .step3 .step1__Div .step2__SubTitle, .trabajo .step3 .step1__Div .step3__SubTitle, .trabajo .step3 .step2__Div .step1__SubTitle, .trabajo .step3 .step2__Div .step2__SubTitle, .trabajo .step3 .step2__Div .step3__SubTitle, .trabajo .step3 .step3__Div .step1__SubTitle, .trabajo .step3 .step3__Div .step2__SubTitle, .trabajo .step3 .step3__Div .step3__SubTitle {
  font-size: 1.1rem;
  text-align: center;
  font-family: 'Merriweather', serif;
  margin: 5px;
}

.trabajo .step1 .step1__Div .step1__Text, .trabajo .step1 .step1__Div .step2__Text, .trabajo .step1 .step1__Div .step3__Text, .trabajo .step1 .step2__Div .step1__Text, .trabajo .step1 .step2__Div .step2__Text, .trabajo .step1 .step2__Div .step3__Text, .trabajo .step1 .step3__Div .step1__Text, .trabajo .step1 .step3__Div .step2__Text, .trabajo .step1 .step3__Div .step3__Text, .trabajo .step2 .step1__Div .step1__Text, .trabajo .step2 .step1__Div .step2__Text, .trabajo .step2 .step1__Div .step3__Text, .trabajo .step2 .step2__Div .step1__Text, .trabajo .step2 .step2__Div .step2__Text, .trabajo .step2 .step2__Div .step3__Text, .trabajo .step2 .step3__Div .step1__Text, .trabajo .step2 .step3__Div .step2__Text, .trabajo .step2 .step3__Div .step3__Text, .trabajo .step3 .step1__Div .step1__Text, .trabajo .step3 .step1__Div .step2__Text, .trabajo .step3 .step1__Div .step3__Text, .trabajo .step3 .step2__Div .step1__Text, .trabajo .step3 .step2__Div .step2__Text, .trabajo .step3 .step2__Div .step3__Text, .trabajo .step3 .step3__Div .step1__Text, .trabajo .step3 .step3__Div .step2__Text, .trabajo .step3 .step3__Div .step3__Text {
  font-size: 1rem;
  font-family: 'Merriweather', serif;
}

.trabajo .step1 .step1__Img, .trabajo .step1 .step2__Img, .trabajo .step1 .step3__Img, .trabajo .step2 .step1__Img, .trabajo .step2 .step2__Img, .trabajo .step2 .step3__Img, .trabajo .step3 .step1__Img, .trabajo .step3 .step2__Img, .trabajo .step3 .step3__Img {
  width: 40%;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-shadow: 6.2px 12.5px 12.5px #0000004f;
          box-shadow: 6.2px 12.5px 12.5px #0000004f;
}

.equipo {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto, auto, auto;
      grid-template-rows: auto, auto, auto;
  gap: 6rem;
  margin-bottom: 5%;
}

.equipo .profile1, .equipo .profile2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10%;
}

.equipo .profile1 .profile1__Img, .equipo .profile1 .profile2__Img, .equipo .profile2 .profile1__Img, .equipo .profile2 .profile2__Img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 45vw;
  height: auto;
  margin-bottom: 5%;
  min-width: 165px;
  min-height: 155px;
  max-width: 480px;
  max-width: 450px;
}

.equipo .profile1 .profile1__Div, .equipo .profile1 .profile2__Div, .equipo .profile2 .profile1__Div, .equipo .profile2 .profile2__Div {
  background: radial-gradient(circle, #b3be13 0%, #5ba10c 100%);
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 6.2px 12.5px 12.5px #0000004f;
          box-shadow: 6.2px 12.5px 12.5px #0000004f;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
}

.equipo .profile1 .profile1__Div .profile1__Name, .equipo .profile1 .profile1__Div .profile2__Name, .equipo .profile1 .profile2__Div .profile1__Name, .equipo .profile1 .profile2__Div .profile2__Name, .equipo .profile2 .profile1__Div .profile1__Name, .equipo .profile2 .profile1__Div .profile2__Name, .equipo .profile2 .profile2__Div .profile1__Name, .equipo .profile2 .profile2__Div .profile2__Name {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1px;
}

.equipo .profile1 .profile1__Div .profile1__Desc, .equipo .profile1 .profile1__Div .profile2__Desc, .equipo .profile1 .profile2__Div .profile1__Desc, .equipo .profile1 .profile2__Div .profile2__Desc, .equipo .profile2 .profile1__Div .profile1__Desc, .equipo .profile2 .profile1__Div .profile2__Desc, .equipo .profile2 .profile2__Div .profile1__Desc, .equipo .profile2 .profile2__Div .profile2__Desc {
  font-size: 1.3rem;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.equipo .profile1 .profile1__Div .profile1__Text, .equipo .profile1 .profile1__Div .profile2__Text, .equipo .profile1 .profile2__Div .profile1__Text, .equipo .profile1 .profile2__Div .profile2__Text, .equipo .profile2 .profile1__Div .profile1__Text, .equipo .profile2 .profile1__Div .profile2__Text, .equipo .profile2 .profile2__Div .profile1__Text, .equipo .profile2 .profile2__Div .profile2__Text {
  font-size: 1.1rem;
  font-family: 'Merriweather', serif;
}

.areas {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 150px auto;
      grid-template-rows: auto 150px auto;
  gap: 6rem;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-items: center;
}

.areas .areasButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 60%;
}

.areas .areasButtons button {
  width: 90px;
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 6.2px 12.5px 12.5px #0000004f;
          box-shadow: 6.2px 12.5px 12.5px #0000004f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(#ccd71b), to(#739300));
  background-image: linear-gradient(90deg, #ccd71b 0%, #739300 100%);
  border: none;
}

.areas .areasText {
  margin: 5%;
  padding: 20px 30px 20px 30px;
  background: radial-gradient(circle, #b3be13 0%, #5ba10c 100%);
  border-radius: 20px;
  -webkit-box-shadow: 6.2px 12.5px 12.5px #0000004f;
          box-shadow: 6.2px 12.5px 12.5px #0000004f;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.areas .areasText h3 {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-top: 0%;
}

.areas .areasText p {
  font-family: 'Merriweather', serif;
  font-size: 1.1rem;
}

.contacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto, auto, auto, auto;
      grid-template-rows: auto, auto, auto, auto;
  gap: 6rem;
  justify-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contacto .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 85% !important;
  gap: 0;
}

.contacto .contactInfo .whatsapp, .contacto .contactInfo .phone, .contacto .contactInfo .mail {
  padding: 3%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  background: radial-gradient(circle, #b3be13 0%, #5ba10c 100%);
  padding: 15px 15px 15px 15px;
  border-radius: 20px;
  -webkit-box-shadow: 6.2px 12.5px 12.5px #0000004f;
          box-shadow: 6.2px 12.5px 12.5px #0000004f;
}

.contacto .contactInfo .whatsapp .whatsapp__Img, .contacto .contactInfo .whatsapp .phone__Img, .contacto .contactInfo .whatsapp .mail__Img, .contacto .contactInfo .phone .whatsapp__Img, .contacto .contactInfo .phone .phone__Img, .contacto .contactInfo .phone .mail__Img, .contacto .contactInfo .mail .whatsapp__Img, .contacto .contactInfo .mail .phone__Img, .contacto .contactInfo .mail .mail__Img {
  max-width: 150px;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contacto .contactInfo .whatsapp .whatsapp__Number, .contacto .contactInfo .whatsapp .phone__Number, .contacto .contactInfo .whatsapp .mail__Mail, .contacto .contactInfo .phone .whatsapp__Number, .contacto .contactInfo .phone .phone__Number, .contacto .contactInfo .phone .mail__Mail, .contacto .contactInfo .mail .whatsapp__Number, .contacto .contactInfo .mail .phone__Number, .contacto .contactInfo .mail .mail__Mail {
  font-size: 23px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: auto;
  margin-top: auto;
}

.contacto .contactInfo .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: radial-gradient(circle, #b3be13 0%, #5ba10c 100%);
  padding: 15px 75px 15px 15px;
  border-radius: 20px;
  -webkit-box-shadow: 6.2px 12.5px 12.5px #0000004f;
          box-shadow: 6.2px 12.5px 12.5px #0000004f;
}

.contacto .mapInfo {
  background: radial-gradient(circle, #b3be13 0%, #5ba10c 100%);
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 83vw;
  height: 550px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20px;
  -webkit-box-shadow: 6.2px 12.5px 12.5px #0000004f;
          box-shadow: 6.2px 12.5px 12.5px #0000004f;
}

.contacto .mapInfo .mapInfo__Div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      align-self: center;
}

.contacto .mapInfo .mapInfo__Div .adress, .contacto .mapInfo .mapInfo__Div .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 50px;
}

.contacto .mapInfo .mapInfo__Div .adress .adress__Text, .contacto .mapInfo .mapInfo__Div .adress .location__Text, .contacto .mapInfo .mapInfo__Div .location .adress__Text, .contacto .mapInfo .mapInfo__Div .location .location__Text {
  font-size: 23px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contacto .mapInfo .mapInfo__Div .adress .adress__Img, .contacto .mapInfo .mapInfo__Div .adress .location__Img, .contacto .mapInfo .mapInfo__Div .location .adress__Img, .contacto .mapInfo .mapInfo__Div .location .location__Img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 5rem;
  height: auto;
}

.contacto .mapInfo .mapouter, .contacto .mapInfo .mapouter iframe {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacto .mapInfo .mapouter iframe {
  width: 100%;
  height: 100%;
}

.contactForm {
  margin-left: 15%;
  margin-right: 15%;
  width: 80vw;
}

.contactForm h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

.contactForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  background: radial-gradient(circle, #b3be13 0%, #5ba10c 100%);
  border-radius: 20px;
  padding-left: 0px;
  -webkit-box-shadow: 6.2px 12.5px 12.5px #0000004f;
          box-shadow: 6.2px 12.5px 12.5px #0000004f;
}

.contactForm form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.contactForm form p label {
  font-size: 25px;
}

.contactForm form p input {
  width: 90%;
  height: 40px;
  font-size: 20px;
}

.contactForm form p textarea {
  width: 100%;
  height: 300px;
  font-size: 20px;
  margin-bottom: 40px;
}

.contactForm form button {
  width: 20%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
  cursor: pointer;
}

.contactForm form button p {
  display: inline-block;
}

.contactForm form .aviso {
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width: 992px) {
  /*TABLET*/
  /*HEADER*/
  .navBar .menu-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 99;
  }
  .navBar .menu-btn__burger {
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .navBar .menu-btn__burger::before,
  .navBar .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .navBar .menu-btn__burger::before {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
  }
  .navBar .menu-btn__burger::after {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
  .navBar .menu-btn.open .menu-btn__burger {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navBar .menu-btn.open .menu-btn__burger::before {
    -webkit-transform: rotate(45deg) translate(35px, -35px);
            transform: rotate(45deg) translate(35px, -35px);
  }
  .navBar .menu-btn.open .menu-btn__burger::after {
    -webkit-transform: rotate(-45deg) translate(35px, 35px);
            transform: rotate(-45deg) translate(35px, 35px);
  }
  .navBar .navBar__Title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .navBar .navBar__Buttons {
    display: none;
  }
  .navBar .mobileNav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: rgba(255, 255, 255, 0.616);
    padding-top: 120px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .navBar .mobileNav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-image: -webkit-gradient(linear, left top, right top, from(#DCE35B), color-stop(51%, #45B649), to(#DCE35B));
    background-image: linear-gradient(to right, #DCE35B 0%, #45B649 51%, #DCE35B 100%);
    border-radius: 10px;
    color: black;
    text-decoration: none;
  }
  .navBar .mobileNav.is-active {
    left: 0;
  }
  /*INDEX*/
  .index .logo {
    margin-bottom: -30%;
  }
  .index .logo img {
    width: 70%;
  }
  .index .mainArticle .mainArticle__Bloque1, .index .mainArticle .mainArticle__Bloque2 {
    background: none;
    background-color: transparent;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .index .mainArticle .mainArticle__Bloque1 .mainArticle__Div .mainArticle__Titulo1, .index .mainArticle .mainArticle__Bloque1 .mainArticle__Div .mainArticle__Titulo2, .index .mainArticle .mainArticle__Bloque2 .mainArticle__Div .mainArticle__Titulo1, .index .mainArticle .mainArticle__Bloque2 .mainArticle__Div .mainArticle__Titulo2 {
    background-color: rgba(145, 143, 143, 0.925);
    text-align: center;
    margin-left: 20%;
  }
  .index .mainArticle .mainArticle__Bloque1 .mainArticle__Div .mainArticle__Texto1, .index .mainArticle .mainArticle__Bloque1 .mainArticle__Div .mainArticle__Texto2, .index .mainArticle .mainArticle__Bloque2 .mainArticle__Div .mainArticle__Texto1, .index .mainArticle .mainArticle__Bloque2 .mainArticle__Div .mainArticle__Texto2 {
    font-size: 1.2rem;
    background-color: rgba(145, 143, 143, 0.925);
  }
  .index .mainArticle .mainArticle__Bloque1 .mainArticle__Img1, .index .mainArticle .mainArticle__Bloque1 .mainArticle__Img2, .index .mainArticle .mainArticle__Bloque2 .mainArticle__Img1, .index .mainArticle .mainArticle__Bloque2 .mainArticle__Img2 {
    display: none;
  }
  .index .mainArticle .mainArticle__Bloque1 {
    background-image: url(../images/img01.jpg);
    background-size: 110% 100%;
    background-repeat: no-repeat;
    padding-bottom: 0px;
  }
  .index .mainArticle .mainArticle__Bloque2 {
    background-image: url(../images/Graupera-Home-05.jpg);
    background-size: 110% 100%;
    background-repeat: no-repeat;
    padding-bottom: 0px;
  }
  .index .clients .clients__Title {
    font-size: 2rem;
  }
  .index .clients .clients__Imgs {
    background: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr / 1fr 1fr;
    padding: 10px 10px 10px 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .index .clients .clients__Imgs img {
    width: 100%;
    -webkit-box-shadow: 6.2px 12.5px 12.5px #0000004f;
            box-shadow: 6.2px 12.5px 12.5px #0000004f;
  }
  .index .clients .clients__Comments {
    gap: 2rem;
  }
  .index .clients .clients__Comments .clients__Comment1 .clients__Cite1, .index .clients .clients__Comments .clients__Comment1 .clients__Name1, .index .clients .clients__Comments .clients__Comment1 .clients__Name2, .index .clients .clients__Comments .clients__Comment1 .clients__Name1, .index .clients .clients__Comments .clients__Comment1 .clients__Cite2, .index .clients .clients__Comments .clients__Comment1 .clients__Name2, .index .clients .clients__Comments .clients__Comment2 .clients__Cite1, .index .clients .clients__Comments .clients__Comment2 .clients__Name1, .index .clients .clients__Comments .clients__Comment2 .clients__Name2, .index .clients .clients__Comments .clients__Comment2 .clients__Name1, .index .clients .clients__Comments .clients__Comment2 .clients__Cite2, .index .clients .clients__Comments .clients__Comment2 .clients__Name2 {
    font-size: 16px;
  }
  /*TRABAJO*/
  .trabajo {
    gap: 3rem;
  }
  .trabajo .steps .steps__Step1 .steps__Title1, .trabajo .stepsMob .steps__Step1 .steps__Title1, .trabajo .steps .steps__Step1 .steps__Title2, .trabajo .stepsMob .steps__Step1 .steps__Title2, .trabajo .steps .steps__Step1 .steps__Title3, .trabajo .stepsMob .steps__Step1 .steps__Title3, .trabajo .steps .steps__Step2 .steps__Title1, .trabajo .stepsMob .steps__Step2 .steps__Title1, .trabajo .steps .steps__Step2 .steps__Title2, .trabajo .stepsMob .steps__Step2 .steps__Title2, .trabajo .steps .steps__Step2 .steps__Title3, .trabajo .stepsMob .steps__Step2 .steps__Title3, .trabajo .steps .steps__Step3 .steps__Title1, .trabajo .stepsMob .steps__Step3 .steps__Title1, .trabajo .steps .steps__Step3 .steps__Title2, .trabajo .stepsMob .steps__Step3 .steps__Title2, .trabajo .steps .steps__Step3 .steps__Title3, .trabajo .stepsMob .steps__Step3 .steps__Title3 {
    font-size: 18px;
  }
  .trabajo .steps, .trabajo .stepsMob {
    display: none;
  }
  .trabajo .stepsMob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .trabajo .stepsMob button {
    border: none;
    background-color: transparent;
  }
  .trabajo .step1, .trabajo .step2, .trabajo .step3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    width: 90%;
    height: 110%;
  }
  .trabajo .step1 .step1__Img, .trabajo .step1 .step2__Img, .trabajo .step1 .step3__Img, .trabajo .step2 .step1__Img, .trabajo .step2 .step2__Img, .trabajo .step2 .step3__Img, .trabajo .step3 .step1__Img, .trabajo .step3 .step2__Img, .trabajo .step3 .step3__Img {
    width: 90%;
  }
  .trabajo .step2, .trabajo .step3 {
    display: none;
  }
  /*EQUIPO*/
  .equipo {
    gap: 3rem;
  }
  .equipo .profile1 .profile1__Div, .equipo .profile1 .profile2__Div, .equipo .profile2 .profile1__Div, .equipo .profile2 .profile2__Div {
    width: auto;
  }
  /*AREAS*/
  .areas {
    gap: 3rem;
    -ms-grid-rows: auto 200px auto;
        grid-template-rows: auto 200px auto;
  }
  .areas .areasText {
    height: 60vh;
    overflow-y: auto;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 1.3rem;
  }
  .areas .areasText h3 {
    font-size: 1.1rem;
  }
  .areas .areasText p {
    font-size: 1rem;
  }
  .areas .areasButtons {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
    -ms-grid-columns: auto auto auto;
        grid-template: auto auto / auto auto auto;
  }
  /*CONTACTO*/
  .contacto {
    gap: 3rem;
    margin-bottom: 10%;
  }
  .contacto .contactInfo {
    gap: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacto .contactInfo .whatsapp, .contacto .contactInfo .phone, .contacto .contactInfo .mail {
    margin-left: auto !important;
    margin-right: auto !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
  }
  .contacto .contactInfo .whatsapp .whatsapp__Img, .contacto .contactInfo .whatsapp .phone__Img, .contacto .contactInfo .whatsapp .mail__Img, .contacto .contactInfo .phone .whatsapp__Img, .contacto .contactInfo .phone .phone__Img, .contacto .contactInfo .phone .mail__Img, .contacto .contactInfo .mail .whatsapp__Img, .contacto .contactInfo .mail .phone__Img, .contacto .contactInfo .mail .mail__Img {
    width: 40%;
    max-height: 90%;
  }
  .contacto .contactInfo .whatsapp .whatsapp__Number, .contacto .contactInfo .whatsapp .phone__Number, .contacto .contactInfo .whatsapp .mail__Mail, .contacto .contactInfo .phone .whatsapp__Number, .contacto .contactInfo .phone .phone__Number, .contacto .contactInfo .phone .mail__Mail, .contacto .contactInfo .mail .whatsapp__Number, .contacto .contactInfo .mail .phone__Number, .contacto .contactInfo .mail .mail__Mail {
    font-size: 16px;
  }
  .contacto .mapInfo {
    height: 450px;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
  .contacto .mapInfo .mapInfo__Div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
    width: 100%;
  }
  .contacto .mapInfo .mapInfo__Div .adress, .contacto .mapInfo .mapInfo__Div .location {
    gap: 1rem;
    margin: 0;
  }
  .contacto .mapInfo .mapInfo__Div .adress .adress__Text, .contacto .mapInfo .mapInfo__Div .adress .location__Text, .contacto .mapInfo .mapInfo__Div .location .adress__Text, .contacto .mapInfo .mapInfo__Div .location .location__Text {
    font-size: 16px;
  }
  .contacto .mapInfo .mapouter, .contacto .mapInfo .mapouter iframe {
    width: 100%;
    height: 80%;
  }
  .contactForm {
    margin: 0;
  }
  .contactForm h3 {
    font-size: 22px;
  }
  .contactForm form p {
    width: 90%;
  }
  .contactForm form p label {
    font-size: 16px;
  }
  .contactForm form p input {
    height: 30px;
    font-size: 16px;
  }
  .contactForm form p textarea {
    width: 90%;
    height: 150px;
    font-size: 16px;
    margin-bottom: 0;
  }
  .contactForm form button {
    width: 50%;
    font-size: 16px;
  }
  .contactForm form .aviso {
    font-size: 13px;
  }
}

@media screen and (max-width: 426px) {
  .navBar .menu-btn {
    width: 60px;
    height: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .navBar .menu-btn__burger {
    width: 30px;
    height: 5px;
  }
  .navBar .menu-btn__burger::before,
  .navBar .menu-btn__burger::after {
    width: 30px;
    height: 5px;
  }
  /*INDEX*/
  .index .mainArticle .mainArticle__Bloque1 .mainArticle__Div .mainArticle__Titulo1, .index .mainArticle .mainArticle__Bloque1 .mainArticle__Div .mainArticle__Titulo2, .index .mainArticle .mainArticle__Bloque2 .mainArticle__Div .mainArticle__Titulo1, .index .mainArticle .mainArticle__Bloque2 .mainArticle__Div .mainArticle__Titulo2 {
    font-size: 19px;
  }
  .index .mainArticle .mainArticle__Bloque1 .mainArticle__Div .mainArticle__Texto1, .index .mainArticle .mainArticle__Bloque1 .mainArticle__Div .mainArticle__Texto2, .index .mainArticle .mainArticle__Bloque2 .mainArticle__Div .mainArticle__Texto1, .index .mainArticle .mainArticle__Bloque2 .mainArticle__Div .mainArticle__Texto2 {
    font-size: 12px;
  }
  .index .clients .clients__Title {
    font-size: 22px;
  }
  .index .clients .clients__Imgs {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .index .clients .clients__Comments .clients__Comment1 .clients__Cite1, .index .clients .clients__Comments .clients__Comment1 .clients__Name1, .index .clients .clients__Comments .clients__Comment1 .clients__Name2, .index .clients .clients__Comments .clients__Comment1 .clients__Name1, .index .clients .clients__Comments .clients__Comment1 .clients__Cite2, .index .clients .clients__Comments .clients__Comment1 .clients__Name2, .index .clients .clients__Comments .clients__Comment2 .clients__Cite1, .index .clients .clients__Comments .clients__Comment2 .clients__Name1, .index .clients .clients__Comments .clients__Comment2 .clients__Name2, .index .clients .clients__Comments .clients__Comment2 .clients__Name1, .index .clients .clients__Comments .clients__Comment2 .clients__Cite2, .index .clients .clients__Comments .clients__Comment2 .clients__Name2 {
    font-size: 14px;
  }
  /*TRABAJO*/
  .trabajo {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    gap: 6rem;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .trabajo .trabajoTitle, .trabajo .equipo .equipoTitle, .equipo .trabajo .equipoTitle, .trabajo .areas .areasTitle, .areas .trabajo .areasTitle, .trabajo .contacto .contactoTitle, .contacto .trabajo .contactoTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 22px;
  }
  .trabajo .steps .steps__Step1 .steps__Title1, .trabajo .stepsMob .steps__Step1 .steps__Title1, .trabajo .steps .steps__Step1 .steps__Title2, .trabajo .stepsMob .steps__Step1 .steps__Title2, .trabajo .steps .steps__Step1 .steps__Title3, .trabajo .stepsMob .steps__Step1 .steps__Title3, .trabajo .steps .steps__Step2 .steps__Title1, .trabajo .stepsMob .steps__Step2 .steps__Title1, .trabajo .steps .steps__Step2 .steps__Title2, .trabajo .stepsMob .steps__Step2 .steps__Title2, .trabajo .steps .steps__Step2 .steps__Title3, .trabajo .stepsMob .steps__Step2 .steps__Title3, .trabajo .steps .steps__Step3 .steps__Title1, .trabajo .stepsMob .steps__Step3 .steps__Title1, .trabajo .steps .steps__Step3 .steps__Title2, .trabajo .stepsMob .steps__Step3 .steps__Title2, .trabajo .steps .steps__Step3 .steps__Title3, .trabajo .stepsMob .steps__Step3 .steps__Title3 {
    font-size: 12px;
  }
  .trabajo .step1 .step1__Div .step1__Title, .trabajo .step1 .step1__Div .step2__Title, .trabajo .step1 .step1__Div .step3__Title, .trabajo .step1 .step2__Div .step1__Title, .trabajo .step1 .step2__Div .step2__Title, .trabajo .step1 .step2__Div .step3__Title, .trabajo .step1 .step3__Div .step1__Title, .trabajo .step1 .step3__Div .step2__Title, .trabajo .step1 .step3__Div .step3__Title, .trabajo .step2 .step1__Div .step1__Title, .trabajo .step2 .step1__Div .step2__Title, .trabajo .step2 .step1__Div .step3__Title, .trabajo .step2 .step2__Div .step1__Title, .trabajo .step2 .step2__Div .step2__Title, .trabajo .step2 .step2__Div .step3__Title, .trabajo .step2 .step3__Div .step1__Title, .trabajo .step2 .step3__Div .step2__Title, .trabajo .step2 .step3__Div .step3__Title, .trabajo .step3 .step1__Div .step1__Title, .trabajo .step3 .step1__Div .step2__Title, .trabajo .step3 .step1__Div .step3__Title, .trabajo .step3 .step2__Div .step1__Title, .trabajo .step3 .step2__Div .step2__Title, .trabajo .step3 .step2__Div .step3__Title, .trabajo .step3 .step3__Div .step1__Title, .trabajo .step3 .step3__Div .step2__Title, .trabajo .step3 .step3__Div .step3__Title {
    font-size: 18px;
  }
  .trabajo .step1 .step1__Div .step1__SubTitle, .trabajo .step1 .step1__Div .step2__SubTitle, .trabajo .step1 .step1__Div .step3__SubTitle, .trabajo .step1 .step2__Div .step1__SubTitle, .trabajo .step1 .step2__Div .step2__SubTitle, .trabajo .step1 .step2__Div .step3__SubTitle, .trabajo .step1 .step3__Div .step1__SubTitle, .trabajo .step1 .step3__Div .step2__SubTitle, .trabajo .step1 .step3__Div .step3__SubTitle, .trabajo .step2 .step1__Div .step1__SubTitle, .trabajo .step2 .step1__Div .step2__SubTitle, .trabajo .step2 .step1__Div .step3__SubTitle, .trabajo .step2 .step2__Div .step1__SubTitle, .trabajo .step2 .step2__Div .step2__SubTitle, .trabajo .step2 .step2__Div .step3__SubTitle, .trabajo .step2 .step3__Div .step1__SubTitle, .trabajo .step2 .step3__Div .step2__SubTitle, .trabajo .step2 .step3__Div .step3__SubTitle, .trabajo .step3 .step1__Div .step1__SubTitle, .trabajo .step3 .step1__Div .step2__SubTitle, .trabajo .step3 .step1__Div .step3__SubTitle, .trabajo .step3 .step2__Div .step1__SubTitle, .trabajo .step3 .step2__Div .step2__SubTitle, .trabajo .step3 .step2__Div .step3__SubTitle, .trabajo .step3 .step3__Div .step1__SubTitle, .trabajo .step3 .step3__Div .step2__SubTitle, .trabajo .step3 .step3__Div .step3__SubTitle {
    font-size: 16px;
  }
  .trabajo .step1 .step1__Div .step1__Text, .trabajo .step1 .step1__Div .step2__Text, .trabajo .step1 .step1__Div .step3__Text, .trabajo .step1 .step2__Div .step1__Text, .trabajo .step1 .step2__Div .step2__Text, .trabajo .step1 .step2__Div .step3__Text, .trabajo .step1 .step3__Div .step1__Text, .trabajo .step1 .step3__Div .step2__Text, .trabajo .step1 .step3__Div .step3__Text, .trabajo .step2 .step1__Div .step1__Text, .trabajo .step2 .step1__Div .step2__Text, .trabajo .step2 .step1__Div .step3__Text, .trabajo .step2 .step2__Div .step1__Text, .trabajo .step2 .step2__Div .step2__Text, .trabajo .step2 .step2__Div .step3__Text, .trabajo .step2 .step3__Div .step1__Text, .trabajo .step2 .step3__Div .step2__Text, .trabajo .step2 .step3__Div .step3__Text, .trabajo .step3 .step1__Div .step1__Text, .trabajo .step3 .step1__Div .step2__Text, .trabajo .step3 .step1__Div .step3__Text, .trabajo .step3 .step2__Div .step1__Text, .trabajo .step3 .step2__Div .step2__Text, .trabajo .step3 .step2__Div .step3__Text, .trabajo .step3 .step3__Div .step1__Text, .trabajo .step3 .step3__Div .step2__Text, .trabajo .step3 .step3__Div .step3__Text {
    font-size: 13px;
  }
  /*EQUIPO*/
  .equipo .equipoTitle {
    font-size: 22px;
  }
  .equipo .profile1 .profile1__Div .profile1__Name, .equipo .profile1 .profile1__Div .profile2__Name, .equipo .profile1 .profile2__Div .profile1__Name, .equipo .profile1 .profile2__Div .profile2__Name, .equipo .profile2 .profile1__Div .profile1__Name, .equipo .profile2 .profile1__Div .profile2__Name, .equipo .profile2 .profile2__Div .profile1__Name, .equipo .profile2 .profile2__Div .profile2__Name {
    font-size: 18px;
  }
  .equipo .profile1 .profile1__Div .profile1__Desc, .equipo .profile1 .profile1__Div .profile2__Desc, .equipo .profile1 .profile2__Div .profile1__Desc, .equipo .profile1 .profile2__Div .profile2__Desc, .equipo .profile2 .profile1__Div .profile1__Desc, .equipo .profile2 .profile1__Div .profile2__Desc, .equipo .profile2 .profile2__Div .profile1__Desc, .equipo .profile2 .profile2__Div .profile2__Desc {
    font-size: 16px;
  }
  .equipo .profile1 .profile1__Div .profile1__Text, .equipo .profile1 .profile1__Div .profile2__Text, .equipo .profile1 .profile2__Div .profile1__Text, .equipo .profile1 .profile2__Div .profile2__Text, .equipo .profile2 .profile1__Div .profile1__Text, .equipo .profile2 .profile1__Div .profile2__Text, .equipo .profile2 .profile2__Div .profile1__Text, .equipo .profile2 .profile2__Div .profile2__Text {
    font-size: 13px;
  }
  /*AREAS*/
  .areas .areasTitle {
    font-size: 22px;
  }
  .areas .areasText h3 {
    font-size: 18px;
  }
  .areas .areasText p {
    font-size: 13px;
  }
  /*CONTACTO*/
  .contacto .contactoTitle {
    font-size: 22px;
  }
  .contacto .contactInfo .whatsapp .whatsapp__Number, .contacto .contactInfo .whatsapp .phone__Number, .contacto .contactInfo .whatsapp .mail__Mail, .contacto .contactInfo .phone .whatsapp__Number, .contacto .contactInfo .phone .phone__Number, .contacto .contactInfo .phone .mail__Mail, .contacto .contactInfo .mail .whatsapp__Number, .contacto .contactInfo .mail .phone__Number, .contacto .contactInfo .mail .mail__Mail {
    font-size: 16px;
  }
  .contacto .mapInfo .mapInfo__Div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacto .mapInfo .mapInfo__Div .adress .adress__Text, .contacto .mapInfo .mapInfo__Div .adress .location__Text, .contacto .mapInfo .mapInfo__Div .location .adress__Text, .contacto .mapInfo .mapInfo__Div .location .location__Text {
    font-size: 16px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contactForm h3 {
    font-size: 22px;
  }
  .contactForm form p label {
    font-size: 16px;
  }
  .contactForm form p input {
    font-size: 16px;
  }
  .contactForm form p textarea {
    font-size: 16px;
  }
  .contactForm form button {
    font-size: 16px;
  }
  .contactForm form .aviso {
    font-size: 13px;
  }
}
/*# sourceMappingURL=main.css.map */