@import "./_variables";

.areas{
    display: grid;
    grid-template-rows: auto 150px auto;
    gap: 6rem;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-items: center;

    .areasTitle{
        @extend .trabajoTitle
    }

    .areasButtons{
        display: flex;
        gap: 1rem;
        margin: 0;
        @include tamaños(fit-content, 60%);

        button{
            @include tamaños(90px, 100%);
            border-radius: 10px;
            box-shadow: $sombra;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            background-image: map-get($grad, green2);
            border: none;
        }
    }

    .areasText{
        margin: 5%;
        padding: 20px 30px 20px 30px;
        background: map-get($grad, green1);
        border-radius: 20px;
        box-shadow: $sombra;
        height: fit-content;

        h3{
            font-size: 1.5rem;
            text-decoration: underline;
            margin-top: 0%;
        }

        p{
            font-family: 'Merriweather', serif;
            font-size: 1.1rem;
        }
    }
}