@import "./_variables";

.areas{
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 6rem;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-items: center;

    &Title{
        @extend .trabajoTitle
    }


    .areasDiv{
        display: grid;
        grid-template: auto auto / auto auto;
        gap: 4rem;
        column-gap: 10vw;
        height: fit-content;
        grid-template-areas:
            "a b"
            "c d";

        .areaSubTitle1{
            grid-area: a;
        }

        .areaSubTitle2{
            grid-area: b;
        }

        .areasButtons1, .areasButtons2{
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto;
            gap: 1rem;
            margin: 0;
            @include tamaños(fit-content, fit-content);

            button{
                @include tamaños(110px, 70px);
                border-radius: 10px;
                box-shadow: $sombra;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                background-image: map-get($grad, green1);
                border: none;
            }
        }

        .areasButtons1{
            grid-area: c;

            button{
                background-image: map-get($grad, yellow);
            }
        }

        .areasButtons2{
            grid-area: d;
        }
    }

    .areasText{
        margin: 5%;
        padding: 20px 30px 20px 30px;
        background: map-get($grad, green1);
        border-radius: 20px;
        box-shadow: $sombra;
        @include tamaños(50%, fit-content);

        h3{
            font-size: 1.5rem;
            text-decoration: underline;
            margin-top: 0%;
        }

        p{
            font-family: 'Merriweather', serif;
            font-size: 1.1rem;
        }
    }
}