@import "./_variables";

.equipo{
    display: grid;
    grid-template-rows: auto, auto, auto;
    gap: 6rem;
    margin-bottom: 5%;

    .equipoTitle{
        @extend .trabajoTitle
    }

    .profile1, .profile2{
        display: flex;
        margin: 0;
        flex-direction: column;
        gap: 10%;

        .profile1__Img, .profile2__Img{
            align-self: center;
            @include tamaños(45vw, auto);
            margin-bottom: 5%;
            min-width: 250px;
            min-height: 240px;
            max-width: 480px;
            max-width: 450px;
        }
        
        .profile1__Div, .profile2__Div{
            background: map-get($grad, green1);
            padding: 10px 30px 10px 30px;
            border-radius: 10px;
            box-shadow: $sombra;
            margin-left: auto;
            margin-right: auto;
            width: 60vw;

            .profile1__Name, .profile2__Name{
                font-size: 1.5rem;
                text-align: center;
                margin-bottom: 1px;
            }
            
            .profile1__Desc, .profile2__Desc{
                font-size: 1.3rem;
                text-align: center;
                font-family: 'Merriweather', serif;
            }
            
            .profile1__Text, .profile2__Text{
                font-size: 1.1rem;
                font-family: 'Merriweather', serif;
                list-style-type: none;
                line-height: 200%;
                padding: 0;
            }
        }
    }
}