@import "./_variables";

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  background: #555;
}


::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

html {
  scroll-behavior: smooth;
  }

body{
  background-color: rgb(211, 211, 211);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
	padding: 0;
	border: 0;
}

.navBar{
  background: white;
  border:#333;

  .mobileNav{
    display: none;
  }

  .menu-btn{
    display: none;
  }
  &__Title{
    text-align: left;
    align-self: center;
  }
  &__Buttons{
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 0;
    &1 {background: linear-gradient(90deg, rgba(218,232,14,1) 9%, rgba(91,161,12,1) 96%);}
    &1 {
     margin: 10px;
     padding: 1px 5px 1px 5px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     color: black;            
     box-shadow: $sombra2;
     border-radius: 5px;
     display: block;
      p{
        margin-top: 4px;
        margin-bottom: 2px;
      }
    }
    &1:hover {
     box-shadow: $sombra;
    }
    a{
      text-decoration: none;
      color: black;
    }
    a:visited{
      color: black;
    }
  }
}


