@import "./_variables";

.trabajo{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    gap: 6rem;
    margin-top: 5%;
    margin-bottom: 10%;

    .trabajoTitle{
        display: flex;
        justify-content: center;
        font-size: map-get($title, desktop);
    }

    .steps{
        justify-content: center;
        a{
            color: black;
            text-decoration: none;
        }

        a:visited{
            color: black;
        }

        .steps__Step1, .steps__Step2, .steps__Step3{
            background-image: map-get($grad, green2);
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            box-shadow: $sombra;
            padding: 15%;

            .steps__Img1, .steps__Img2, .steps__Img3{
                @include tamaños(40%, auto);
                margin-right: auto;
            }

            .steps__Title1, .steps__Title2, .steps__Title3{
                font-size: 1.5rem;
                margin-block-start: 0em;
                margin-block-end: 0em;
            }
        }
    }

    .stepsMob{
        @extend .steps;
        display: none;
    }

    .step1, .step2, .step3{
       background: map-get($grad, green1);
       display: flex;
       gap: 0px;
       margin-left: auto;
       margin-right: auto;
       border-radius: 20px;
       @include tamaños(100%, 100%);
       box-shadow: $sombra;
       padding: 5%;

       .step1__Div, .step2__Div, .step3__Div{
            display: flex;
            flex-direction: column;
            margin-left: 3%;
            margin-right: 3%;
            margin-top: 15px;
            overflow-y: auto;

            .step1__Title, .step2__Title, .step3__Title{
                font-size: 1.3rem;
                text-align: center;
                margin: 10px;
            }
            
            .step1__SubTitle, .step2__SubTitle, .step3__SubTitle{
                font-size: 1.1rem;
                text-align: center;
                font-family: 'Merriweather', serif;
                margin: 5px;
            }
            
            .step1__Text, .step2__Text, .step3__Text{
                font-size: 1rem;
                font-family: 'Merriweather', serif;
            }
        }

        .step1__Img, .step2__Img, .step3__Img{
            @include tamaños(40%, auto);
            align-self: center;
            justify-self: center;
            box-shadow: $sombra;
        }
    }
}